.dataent {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    float: left;
}

.navbar2 {
    position: relative;
}