.navbar3 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 2rem;

    box-shadow: 0 0 10px rgb(61, 60, 60);
    z-index: 1;
    position: relative;
    height: 60px;
  }
  .vikasHName {
    font-size: larger;
    margin-left: 2%;
    font-weight: 1000;
    text-transform: uppercase;
    color: #195a09;
    margin-right: 81%;
  }
  .navbar3 .vikasHName2 {
    /* text-align: center; */
    font-size: larger;
    margin-left: 2%;
    font-weight: 1000;
    text-transform: uppercase;
    color: #195a09;
    margin-right: 70%;
  }
  
  .navbar3 .vikasChangePass{
    margin-right: 1%;
  }
  .navbar3 .vikasChangePass button {
    background: #dd0000;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5%;
    width: 100%;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .navbar3 .vikasmyHome button {
    background: #dd0000;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5%;
    width: 100%;
    height: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }


