.admind {
    margin-left: 20%;
  }
  
  .admind_header {
    margin-top: 6%;
    position: center;
    display: flex;
  }
  
  .searchTerm {
    width: 520px;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
  }
  
  .searchTerm:focus {
    color: #00b4cc;
  }
  
  .searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
  }
  
  .searchButton:hover {
    width: 40px;
    height: 35px;
    border: 1px solid #00b4cc;
    background: #fff;
    text-align: center;
    color: #00b4cc;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    cursor: pointer;
  }
  
  .aduser {
    margin-left: 10%;
    width: 120px;
    margin-top: 3px;
    height: 32px;
    background: #00b4cc;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
  }
  
  .aduser:hover {
    margin-left: 10%;
    width: 120px;
    margin-top: 3px;
    height: 32px;
    background: #fff;
    color: #00b4cc;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .admind_table {
    margin-top: 8%;
    width: 80%;
    height: 100%;
    border-collapse: collapse;
    text-align: left;
  }