.form-container {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 100%; */
    width: 700px;
}

.form-container label {
    display: flex;
    /* flex-direction: column; */
    /* margin-bottom: 10px; */
    text-align: center;
    /* margin-right: 100px; */
}

.form-container label span {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container .form-fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
    margin-right: 100px;
    width: 100%;
    max-width: 600px;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="tel"],
.form-container input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    width: 500px;
}

.form-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.dropdown select{
    margin-left: 30px;
    width: 500px;
}

input {
    padding: 5px;
    border-radius: 4px;
    border: none;
    border: 1px solid #CCC;
    width: 100%;
  }
  