.vikasRegFormContainer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
}

.vikasRegRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.vikasRegCol1 {
    width: 25%;
    text-align: left;

}

.vikasRegCol2 {
    width: 200px;
}

.vikasRegCol2 input {
    width: 400px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
}

.vikasRegCol2 select {
    width: 224px;
    align-items: left;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

.vikasRegDate {
    width: 100px;
    align-items: left;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
}

.vikasRegCol2 .vikasRegDOB {
    width: 200px;
    align-items: left;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    text-align: center;
    text-transform: uppercase;
}

.vikasRegHead {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.vikasRegButton button[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 12px 50px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 3px;
    background: #49383c;
    color: rgb(247, 245, 245);
    border-radius: 5px;
    height: 50px;
    box-shadow: 0 0 1px #042142,
        0 0 1px #042142,
        0 0 1px #042142,
        0 0 1px #042142;
}